<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Hospital App</title>
</head>
<body>
<div>
<h3>Welcome to Hospital App</h3>
    <form method="get" action="/register_patient">
        <button type="submit"> Register </button>
    </form>
    <form method="get" action="/getallpatients">
        <button type="submit"> Patients </button>
    </form>
    <form method="get" action="/getpatient">
        <button type="submit"> Patients details by ID </button>
    </form>
</div>
</body>
</html>











<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Welcome to the Hospital App</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Patient Details</h1>-->
<!--<table>-->
<!--    <tr>-->
<!--        <th>Name</th>-->
<!--        <th>Phone number</th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--{% for i in data %}-->
<!--<td>{{ i.name }}</td>-->
<!--<td>{{ i.phone_number }}</td>-->
<!--    </tr>-->
<!--{% endfor %}-->
<!--</table>-->
<!--</body>-->
<!--</html>-->